{% extends "layout.html" %}

{% block content %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand nav-link" href="{{ url_for ('home') }}">HOME</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for ('basketball') }}">Basketball</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for ('football') }}">Football</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container bg-dark d-flex h-100 align-items-center">
    <h3 class = "mb-0 text-white">Determine what conference should you go to?</h3>
</div>

<form method=post>
    <dl>
        <div class="form-group">
            <h3>Position</h3>
            <label for="position">Enter the position you play (only one):</label><br>
            {{form.position(placeholder="G/F/C...")}}
        </div>
        <div class="form-group">
            <h3>Games Played</h3>
            <label for="gp">Enter the number of games you played:</label><br>
            {{form.gp(placeholder="Between 24-38")}}
        </div>
        <div class="form-group">
            <h3>Field Goals Made</h3>
            <label for="fgm">Enter your FGM:</label><br>
            {{form.fgm(placeholder="Between 3.5-7.1")}}
        </div>
        <div class="form-group">
            <h3>3 Points Made</h3>
            <label for="three">Enter your 3PM:</label><br>
            {{form.three(placeholder="Between 1.2-3.2")}}
        </div>
    </dl>
    <p><input type="submit" value="submit"</p>
 </form>

{% endblock%}