{% extends "layout.html" %}

{% block content %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for ('home') }}">HOME</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for ('basketball') }}">Basketball ML</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for ('football') }}">Football ML</a></li>
            </ul>
        </div>
    </div>
</nav>

<h3>{{ title }}</h3>

<h4>{{ result|safe }}</h4>

<hr>

<h3>Snapshot from AzureML interface</h3>
This was implemented using Azure ML Studio.<br /><br />
<img src="https://zappa-qwyfp6p71.s3-us-west-1.amazonaws.com/static/img/FballML.PNG" width="800px" height="750px"/>

{% endblock %}